<html>
    <head>
        <link href="/css/style.scss" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="welcome-button">
            <div class="bt-sl-solid-l down out"></div>
            <div class="bt-sl-solid-r down out"></div>
            <a href="#" class="button">
              Number of visited users
            </a>
            <p style="text-align: center;color:gold;font-size: xxx-large;">
                <%= number %>
            </p>
          </div>
    </body>
</html>